@font-face {
	font-family: Minecraft;
	src: url(/font/MinecraftBold.otf);
}

body {
    background: fixed;
	margin: 0;
	overflow: hidden;
	
}

.containerUsername {
	width: 100svw;
	height: 80svh;
	display: grid;
	justify-content: center;
	align-items: center;
	position: absolute;	
}
	
.username {
	font-family: Minecraft;
	color: rgb(218, 218, 218);
	text-shadow: 3px 1px 2px pink;
	font-size: 45px;
	
}

.containerPFP {
	width: 100svw;
	height: 52svh;
	display: grid;
	justify-content: center;
	align-items: center;
	position: absolute;	
}

.pfp {
	border-radius: 100%;
	height: 175px;
	width: 175px;
	box-shadow: 0px 0px 50px black;
}

.bgVid {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	margin-top: -2.5%;
	display: block;
}

video {
	opacity: 1;
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

@media (max-aspect-raio: 16/9){
	.bgVid {
		width: auto;
		height: 100%;
	}
}