@font-face {
	font-family: Minecraft;
	src: url(/font/MinecraftBold.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100svw;
	height: 100svh;
	width: 100vw;
	height: 100vh;
}

body {
	background-image: url(./img/back.webp);
	background-repeat: no-repeat;
	backdrop-filter: blur(7px);
	justify-content: center;
	background-size: cover;
	overflow: hidden;
	display: flex;
	opacity: 1;
	
}

.containerUsername {
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100svw;
	height: 80svh;
	display: grid;
}
	
.username {
	text-shadow: 3px 1px 2px pink;
	color: rgb(218, 218, 218);
	font-family: Minecraft;
	font-size: 45px;
}

.containerPFP {
	justify-content: center;
	align-items: center;
	position: absolute;	
	width: 100svw;
	height: 52svh;
	display: grid;
}

.pfp {
	box-shadow: 0px 0px 50px black;
	border-radius: 100%;
	height: 175px;
	width: 175px;
}

.containerIcons {
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	position: absolute;
	height: auto;
	width: auto;
    left: 50%;
    top: 48%;
    
	display: flex;
	gap: 13px;
}

.containerIcons > svg {
	transition: transform 0.3s ease-in-out;
	height: 50px;
	width: 50px;
	z-index: 1;
	
}

.containerIcons svg:hover {
	transform: scale(1.2);
	cursor: pointer;
}